.indent-1 {
  float: left;
}
.indent-1 section {
  width: 40%; 
  float: left;
}

table{
  width:100%;
  table-layout: fixed;
}

.tbl-header{
  width: 650px;
  background-image: linear-gradient(180deg, #002BDC, #0693E3);
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
 }
 
.tbl-content{  
  font-weight:bold;
  width: 650px;
  height:400px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #002BDC;
  border-radius: 0 0 5px 5px;
  text-transform: uppercase;
}

.tbl-header2{
  width: 1100px;
  background-image: linear-gradient(180deg, #002BDC, #0693E3);
  border-radius: 5px 5px 0 0;
 }
 
.tbl-content2{ 
  font-weight:bold;
  width: 1100px;
  height:400px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #002BDC;
  border-radius: 0 0 5px 5px;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

td button {
  color: #002BDC;
}


section{
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 80px;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0693E3;
  box-shadow: inset 0 0 6px #0693E3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #0693E3; 
  box-shadow: inset 0 0 6px #0693E3;
}

.btn {
  background-color: #04AA6D;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {opacity: 1}

.btn1 {
  background-color: #f4511e;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn1:hover {opacity: 1}


.btn2 {
  background-color: #002BDC;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 28px;
  text-align: center;
  font-size: 12px;
  margin: 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn2:hover {opacity: 1}


.btn3 {
  background-color: #002BDC;
  border: none;
  border-radius: 5px;
  width: 90px;
  color: white;
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn3:hover {opacity: 1}


.btn4 {
  background-color: #002BDC;
  border: none;
  border-radius: 5px;
  width: 150px;
  color: white;
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn4:hover {opacity: 1}