{% extends "base.html" %}

{% load static %}

    {% block title %} About | ArtificialMinds {% endblock %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
    {% endblock%}

{% block nav_about %}active{% endblock %}
{% block content %}
<div class="teambg">
    <div class="container">
        <h1 class="heading">Our Team</h1>
        <div class="profiles">
          <div class="profile">
            <img src="../static/img/images/justin.jpg" class="profile-img">
    
            <h3 class="user-name">Justin</h3>
            <h5>Full Stack Developer</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eveniet soluta hic sunt sit reprehenderit.</p>
          </div>
          <div class="profile">
            <img src="../static/img/images/carl.jpg" class="profile-img">
    
            <h3 class="user-name">Carl</h3>
            <h5>Full Stack Developer</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eveniet soluta hic sunt sit reprehenderit.</p>
          </div>
          <div class="profile">
            <img src="../static/img/images/img1.jpg" class="profile-img">
    
            <h3 class="user-name"><span>Iver</span></h3>
            <h5>Data Scientist</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eveniet soluta hic sunt sit reprehenderit.</p>
          </div>
          <div class="profile">
            <img src="../static/img/images/img2.jpg" class="profile-img">
    
            <h3 class="user-name"><span>Benedict</span></h3>
            <h5>Frontend Developer</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eveniet soluta hic sunt sit reprehenderit.</p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
    

