{% extends "base2.html" %}

    {% load static %}

    {% block title %} Home | ArtificialMinds {% endblock %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/homeAdviser.css">
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% endblock%}

    {% block nav_home %} active {% endblock %}

{% block content %}
<section class="indent-1">
    <!-- Section 1 --> 
    <section>
		<!--for demo wrap-->
		<h1 style="margin-left: 20px;">Lists of Requested Appointments</h1>
		<br>
		<div class="tbl-header">
		  <table cellpadding="0" cellspacing="0" border="0">
			<thead>
			  <tr>
				<th style="width: 50px;">ID</th>
				<th>Student Name</th>
				<th>Meeting Type</th>
				<th style="width: 100px;">Date</th>
				<th style="width: 100px;">Time</th>
				<th style="width: 180px;">Action</th>
			  </tr>
			</thead>
		  </table>
		</div>
		<div class="tbl-content">
		  <table cellpadding="0" cellspacing="0" border="0">
			  <!--JUS, loop nlng from database. Example rana sa sud sa "td"-->
			<tbody>
				{% for qs in appointments %}
			  <tr>
				<td style="width: 50px;">{{qs.appointmentID}}</td>
				<td>{{qs.student.firstname}} {{qs.student.lastname}}</td>
				<td>{{qs.meeting_type}}</td>
				<td style="width: 100px;">{{qs.meeting_date}}</td>
				<td style="width: 100px;">{{qs.meeting_time}}</td>
				<td style="width: 180px;">
					<button class="btn">Approve</button>
					<button class="btn1">Reshedule</button>
				</td>
			  </tr>		
			  	{% endfor %}	  
			</tbody>
		  </table>
		</div>
	  </section>

    <!-- Section 2 -->
    <section style="padding-left: 20px;">
		<h1 style="margin-left: 20px;">Student Status</h1>
		<br>
		<div class="tbl-header1">
			<table cellpadding="0" cellspacing="0" border="0" class="table2">
				<thead>
				<tr>
					<th style="width: 160px;">Student Name</th>
					<th style="width: 120px;">Status</th>
					<th>Profile</th>
				</tr>
				</thead>
			</table>
			</div>
			<div class="tbl-content1">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
				<tr>
					<td style="width: 160px;">Carl Cordova</td>
					<td style="width: 120px;">Red Flag</td>
					<td> 
						<button class="btn2">View</button>
					</td>
				</tr>			  
				</tbody>
			</table>
		</div>
</section>
<div class="approve">
	<h1 style="margin-left: 20px;">Approved Appointments</h1>
		<br>
		<div class="tbl-header2">
		  <table cellpadding="0" cellspacing="0" border="0">
			<thead>
			  <tr>
				<th style="width: 50px;">ID</th>
				<th style="width: 200px;">Student Name</th>
				<th style="width: 330px;">Schedule</th>
				<th style="width: 140px;">Meeting Type</th>
				<th style="width: 120px;">Urgency</th>
				<th>Action</th>
			  </tr>
			</thead>
		  </table>
		</div>
		<div class="tbl-content2">
		  <table cellpadding="0" cellspacing="0" border="0">
			  <!--JUS, loop nlng from database. Example rana sa sud sa "td"-->
			<tbody>
			  <tr>
				<td style="width: 50px;">1</td>
				<td style="width: 200px;">Carl Cordova</td>
				<td style="width: 330px;">Date & Time</td>
				<td style="width: 140px;">Live</td>
				<td style="width: 120px;">Now</td>
				<td> <button class="btn3">Start Meeting</button></td>
			  </tr>			  
			</tbody>
		  </table>
		</div>
</div>
<script>
	$(window).on("load resize ", function() {
		var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
		$('.tbl-header').css({'padding-right':scrollWidth});
	}).resize();
</script>

{% endblock %}