{% extends "base2.html" %}

    {% load static %}

    {% block title %} Home | ArtificialMinds {% endblock %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/homeAdviser.css">
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% endblock%}

    {% block nav_home %} active {% endblock %}

{% block content %}
<section class="indent-1">
    <!-- Section 1 --> 
    <form action="#" method="POST">
        {% csrf_token %}
    <section>
		<!--for demo wrap-->
		<h1 style="margin-left: 20px;">Lists of Requested Appointments</h1>
		<br>
		<div class="tbl-header">
		  <table cellpadding="0" cellspacing="0" border="0">
			<thead>
			  <tr>
				<th style="width: 100px;">Meeting Type</th>
				<th style="width: 120px;">Name</th>
				<th style="width: 120px;">Date</th>
				<th style="width: 100px;">Time</th>
				<th style="width: 150px;">Action</th>
			  </tr>
			</thead>
		  </table>
		</div>
		<div class="tbl-content">
		  <table cellpadding="0" cellspacing="0" border="0">
			  <!--JUS, loop nlng from database. Example rana sa sud sa "td"-->
			<tbody>
				{% for qs in appointments %}
			  <tr>
				<td style="width: 100px;">{{qs.meeting_type}}</td>
				<td style="width: 100px;">{{qs.student.firstname}} {{qs.student.lastname}}</td>
				<td style="width: 120px;">{{qs.meeting_date}}</td>
				<td style="width: 100px;">{{qs.meeting_time}}</td>
				<td style="width: 150px;">
					<button type ="submit" name="btnApprove" class="btn">Approve</button>
					<button class="btn1">Reschedule</button>
				</td>
			  </tr>		
			  	{% endfor %}	  
			</tbody>
		  </table>
		</div>
	</section>

    <!-- Section 2 -->
    <section>
		<h1 style="margin-left: 20px;">Approved Appointments</h1>
		<br>
		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0" class="table2">
				<thead>
				<tr>
					<th style="width: 120px;">Urgency</th>
					<th style="width: 100px;">Date</th>
					<th style="width: 120px;">Time</th>
					<th style="width: 140px;">Meeting Type</th>
					<th>Action</th>
				</tr>
				</thead>
			</table>
			</div>
			<div class="tbl-content">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
				<tr>					
					<td style="width: 120px;"></td>
					<td style="width: 100px;"></td>
					<td style="width: 120px;"></td>
					<td style="width: 140px;"></td>
					<td> <button class="btn3">Start</button></td>
				</tr>			  
				</tbody>
			</table>
		</div>
	</section>
	
    <!-- Section 3 -->
    
    <section style="margin-left: 400px;">
		<h1 style="margin-left: 20px;">Student Status</h1>
		<br>
		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0" class="table2">
				<thead>
				<tr>
					<th style="width: 120px;">Student Name</th>
					<th style="width: 120px;">Status</th>
					<th style="width: 120px;">Details</th>
				</tr>
				</thead>
			</table>
			</div>
			<div class="tbl-content">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
				<tr>					
					<td style="width: 120px;">Carl Cordova</td>
					<td style="width: 120px;">Red Flag</td>
					<td style="width: 120px;"> <button class="btn4">View</button></td>
				</tr>			  
				</tbody>
			</table>
		</div>
	</section>
</section>
<script>
	$(window).on("load resize ", function() {
		var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
		$('.tbl-header').css({'padding-right':scrollWidth});
	}).resize();
</script>

{% endblock %}