<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="copyright" content="MACode ID, https://macodeid.com/">
  <title>ArtificialMinds</title>
  <link rel="shortcut icon" type="image/png" href="../static/img/images/favicon1.png">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <section>
    <div class="circle">
    </div>
    <header>
        <a href="#"><img src="../static/img/images/logoV2.png" class="logo"></a>
        <ul>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'sample:login' %}" style="color: dodgerblue;"><strong>Sign in</strong></a></li>
        </ul>
    </header>
    <div class="content">
        <div class="textBox">
            <h2>Minimum <span>EFFORT.</span><br>Maximum <span>SATISFACTION.</span></h2>
            <br><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Quam quod fugit cumque animi aperiam optio ut nesciunt 
                sed ea expedita rem unde laboriosam cupiditate ipsa, 
                vero reprehenderit distinctio? Animi, labore?</p><br>
                <a href="{% url 'sample:register' %}">Get Started</a>
        </div>
            <div class="imgBox">
                <img src="../static/img/images/img1.png" class="img1">
            </div> 
    </div>
    <ul class="sci">
        <li><a href="#"><img src="../static/img/images/facebook.png"</a></li>
        <li><a href="#"><img src="../static/img/images/instagram.png"</a></li>
        <li><a href="#"><img src="../static/img/images/twitter.png"</a></li>
    </ul>
</section>
  
</body>
</html>