<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | CIT by ArtificialMinds</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <!-- <div class="container" style="padding: 20px; background-color: #b3ffcc;"> -->
  <div>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
  {% endif %}
  {% block content %}
  {% endblock content %}
  </div>
  <section>
      <div class="circle3">
      </div>
      <header>
          <a href="{% url 'sample:index_view' %}"><img src="../static/img/images/logo.png" class="logo"></a>
      </header>
      <div class="content">
              <div class="imgBox">
                  <img src="../static/img/images/img4.png" class="logo" style="width: 500px; height:auto; margin-right: 10px;">
              </div> 
      </div>
      <div class="wrapper">
          <form action="#">
              <h2>Log in to your account</h2>
            <div class="field id">
              <div class="sign-txt" style="font-size: 12px;">Not yet member? <a href="{% url 'sample:register' %}">Sign  up.</a> <br><br></div>
              <div class="input-area">
                <input type="text" placeholder="ID Number">
                <i class="icon fas fa-envelope"></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
              </div>
              <div class="error error-txt">ID can't be blank</div>
            </div>
            <div class="field password">
              <div class="input-area">
                <input type="password" placeholder="Password">
                <i class="icon fas fa-lock"></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
              </div>
              <div class="error error-txt">Password can't be blank</div>
            </div>
            <div class="pass-txt"><a href="#">Forgot password?</a></div>
            <input type="submit" value="Continue">
          </form>
          <div class="sign-txt"><p>By continuing, you agree to our <a href="#">Terms of Service.</a></p></div>
        </div>
        <script src="script.js"></script>
      <div class="circle4">
      </div>
  </section>
</body>
</html> 