<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating | CIT by ArtificialMinds</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/images/favicon1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="../static/css/ratings.css">
</head>
<body>
    <div class="circle"></div>
	<header class="header">
		<a href="#"><img src="../static/img/images/logoV3.png" class="logo"></a>	
	</header>
	<div class="circle46"></div>
    <div class="container">
        <div class="centerDiv">
            <div class="div1">
                <img src="../static/img/images/user.png">
            </div>
            <div class="div2">
                <p>Name <span style="margin-left: 9px;">:</span><span style="margin-left: 10px;">Carl Cordova</span></p> 
                <p>Email <span style="margin-left: 14px;">:</span><span style="margin-left: 10px;">carl.cordova@cit.edu</span></p> 
                <p>Course <span style="margin-left: 2px;">:</span><span style="margin-left: 10px;">BSIT</span></p> 
                <p>Year <span style="margin-left: 21px;">:</span><span style="margin-left: 10px;">4</span></p> 
            </div>
            </div>
    
        <br>
        <hr />
        <form>
            <div class="status">
                <div class="radio-buttons">
                    <label class="custom-radio-mild">
                      <input type="radio" name="radio" />
                      <span class="radio-btn1">
                        <div class="hobbies-icon-mild">
                            <i class="fa-regular fa-face-smile"></i>
                            <h3>Mild</h3>
                        </div>
                      </span>
                    </label>
                    <label class="custom-radio-moderate">
                      <input type="radio" name="radio" />
                      <span class="radio-btn2">
                        <div class="hobbies-icon-moderate">
                            <i class="fa-regular fa-face-meh"></i>
                            <h3>Moderate</h3>
                        </div>
                      </span>
                    </label>
                    <label class="custom-radio-severe">
                      <input type="radio" name="radio" />
                      <span class="radio-btn3">
                        <div class="hobbies-icon-severe">
                            <i class="fa-regular fa-face-frown"></i>
                            <h3>Severe</h3>
                        </div>
                      </span>
                    </label>
                </div>
            </div>
        
            <div class="remarks">
                <h5>Write Remarks for this student.</h5>
                <textarea placeholder="Aa"></textarea>
            </div>
            
            <div class="button">
                <input type="submit" value="Submit Remarks">
            </div>
        </form>
        <br>
        
    </div>

</body>
</html>