<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}

{% block content %}

<main>
	<div class="circle"></div>
	<header class="header">
		<a href="#"><img src="../static/img/images/logoV3.png" class="logo"></a>	
	</header>
	<div class="circle46"></div>
	<section id ="room-name-wrapper">
		<p>Room Name: <strong><span id="room-name"></span></strong></p>
	</section>

	<section id="video-streams"></section>

	<section id="controls-wrapper">
		<div class="icon-wrapper">
			<img class="control-icon" id="mic-btn" src="{% static 'img/images/microphone.svg' %}">
		</div>

		<div class="icon-wrapper">
			<img class="control-icon" id="camera-btn" src="{% static 'img/images/video.svg' %}">
		</div>

		<div class="icon-wrapper">
			<img class="control-icon" id="leave-btn" src="{% static 'img/images/leave.png' %}">
		</div>

	
		
	</section>

</main>
<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.10.2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>

{% endblock content %}