{% extends "base.html" %}

    {% load static %}

    {% block title %} Book Appointments | ArtificialMinds {% endblock %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/setappointment.css">
    {% endblock%}
    {% block nav_home %} active {% endblock %}

{% block content %}
  
<!-- start code here-->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('input[type="radio"]').click(function(){
      var val = $(this).attr("value");
      var target = $("." + val);
      $(".msg").not(target).hide();
      $(target).show();
    });
  });
</script>


<div class="body">
    <div class="container">
        <h3>Book an appointment.</h3>
        <br>
        <div class="content">
            <form action="#" method="#">
                {% csrf_token %}

                <div class="meeting">
                    <span class="meeting-title"><strong>Type of Meeting</strong></span>
                    <p style="font-size: 10px;">Choose one to proceed:</p>
                    <div class="category">
                       <input type="radio" name="meeting" value="live"> Live
                       <input type="radio" name="meeting" value="chat"> Chat<br>
                    </div>
                </div>
                <br>
                <p style="font-size: 15px;"><strong>Urgency & Schedule</strong></p>
                <input type="radio" name="urgency" value="now" checked="checked"> Now
                <input type="radio" name="urgency" value="later"> Later
                <div class="now msg" style="padding-top: 5px;">
                    <p style="font-size: 14px;"><i>Available Counsellor</i></p>
                    <select name="counselor" id="counselor">
                        <option selected disabled>Please select one</option>
                        <option value="Counselor 1">Counselor 1</option>
                        <option value="Counselor 2">Counselor 2</option>
                    </select>
                </div>
                <div class="later msg" style="padding-top: 5px;" hidden>
                    <p style="font-size: 14px;"><i>Available Counselors with their Schedule</i></p>
                    <select name="counselor" id="counselor">
                        <option selected disabled>Please select one</option>
                        <optgroup label="Counselor 1">
                            <option value="Schedule 1">Schedule 1</option>
                            <option value="Schedule 2">Schedule 2</option>
                            <option value="Schedule 3">Schedule 3</option>
                        </optgroup>
                        <optgroup label="Counselor 2">
                            <option value="Schedule 1">Schedule 1</option>
                            <option value="Schedule 2">Schedule 2</option>
                            <option value="Schedule 3">Schedule 3</option>
                        </optgroup>
                    </select>
                </div>

                
                <p style="font-size: 12px; padding-top: 80px;">Please review your appointment before proceeding.</a></p>
                <div class="button">
                    <input type="submit" value="Book Appointment">
                </div>
            </form>
        </div>
    </div>

</div>
  
<!-- end here -->

{% endblock %}

