{% extends "base.html" %}

{% load static %}

    {% block title %} Settings | ArtificialMinds {% endblock %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/settings.css">
    {% endblock%}

    {% block nav_setting %}active{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="title">
      Update Profile
    </div>
    {% for qs in students %}
    <div class="form">

        <div class="inputfield">
            <label>First Name</label>
            <input type="text" class="input" name="firstname" value="{{qs.firstname}}" placeholder="{{qs.firstname}}">
        </div>  
        <div class="inputfield">
          <label>Last Name</label>
           <input type="text" class="input" name="lastname" value="{{qs.lastname}}" placeholder="{{qs.lastname}}">
        </div>
        <div class="inputfield">
            <label>ID Number</label>
            <input type="text" class="input">
        </div>  
        <div class="inputfield">
            <label>Email Address</label>
            <input type="text" class="input">
        </div> 
        <div class="inputfield">
            <label>Phone Number</label>
            <input type="text" class="input">
        </div> 
        <div class="inputfield">
            <label>Course</label>
            <input type="text" class="input">
        </div>
        <div class="inputfield">
            <label>Year</label>
            <input type="text" class="input" >
        </div> 
        <div class="inputfield">
            <label>Gender</label>
            <input type="text" class="input" disabled>
        </div><br><br>
        <div class="inputfield terms">
          <p>Please review before clicking update.</p>
        </div> 
        <div class="inputfield">
            <input type="submit" value="UPDATE" class="btn">
        </div>
    </div>
    {% endfor %}
</div>	
{% endblock %}


